<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
            @layer utilities {
                .content-auto {
                  content-visibility: auto;
                }
            }
    </style>
    <title>Earthquake Data Display</title>
</head>
<body class="bg-gradient-to-r from-cyan-100 to-purple-200">
  <div class="h-screen flex items-center justify-center">
      <h1>Earthquake Data Display</h1>
  </div>

</body>
</html>
