<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
            @layer utilities {
                .content-auto {
                  content-visibility: auto;
                }
            }
    </style>
    <title>Earthquake Data Display</title>
</head>
<body class="font-mono bg-blue-100">
  <!-- Navigation Bar -->
  <ul class="flex bg-indigo-200 space-x-10 h-12 items-center">
      <li><a class="flex hover:bg-green-100 p-3" href="/">current weather</a></li>
      <li><a class="flex hover:bg-green-100 p-3" href="/history">weather history</a></li>
      <li><a class="bg-green-100 flex hover:bg-green-100 p-3" href="/earthquake">earthquake map</a></li>
      <li><a class="flex hover:bg-green-100 p-3" href="/user_history">{{ username }}'s request history</a></li>
      <li><a class="flex hover:bg-green-100 p-3" href="/logout">logout</a></li>
  </ul>

  <!-- Page Title -->
  <h1 class="p-2 bg-indigo-300 text-lg font-bold">Welcome, {{ username }}</h1>

  <div class="h-screen flex items-center justify-center">
      <h1>Earthquake Data Display</h1>
  </div>

</body>
</html>
