<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
      <style type="text/tailwindcss">
              @layer utilities {
                  .content-auto {
                    content-visibility: auto;
                  }
              }
      </style>
  </head>
  <body>
    Welcome {{username}}
    <ul class="flex bg-red-100 space-x-10 h-11 items-center">
        <li><a class="flex hover:bg-green-100 p-3" href="/weather"> current weather <br></a></li>
        <li><a class="flex hover:bg-green-100 p-3" href="/history"> weather history <br> </a></li>
        <li><a class="flex hover:bg-green-100 p-3" href="/earthquake"> earthquake map<br></a></li>
        <li><a class="flex hover:bg-green-100 p-3" href="/user_history"> {{username}}'s request history </a></li>
        <li><a class="flex hover:bg-green-100 p-3" href="/logout">logout</a></li>
    </ul>
    <img src="static/goo.png" alt="graph">
  </body>
</html>
