<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
  <style type="text/tailwindcss">
          @layer utilities {
              .content-auto {
                content-visibility: auto;
              }
          }
  </style>
  </head>
  <body>
    Welcome {{username}}
    <ul>
        <li> <a href="/view_city"> View the current weather conditions of a specific city here <br></a></li>
        <li> <a href="/history"> View the history of a region here <br> </a></li>
        <li> <a href="/natural_disaster"> View the natural disaster map of a region here <br></a></li>
        <li> <a href="/user_history"> View {{username}}'s request history here </a></li>
    </ul>
  </body>
</html>
