<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
  <style type="text/tailwindcss">
          @layer utilities {
              .content-auto {
                content-visibility: auto;
              }
          }
  </style>
  </head>
  <body>
    Welcome {{username}}
    <ul>
        <li> View the current weather conditions of a specific city <a href="/view_city"> here <br></a></li>
        <li> View the history of a region <a href="/history"> here <br> </a></li>
        <li> View the natural disaster map of a region <a href="/natural_disaster"> here <br></a></li>
        <li> View {{username}}'s request history <a href="/user_history"> here </a></li>
        <li> Click <a href="/logout">here</a> to logout!</li>
    </ul>
  </body>
</html>
