<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    		<style type="text/tailwindcss">
                @layer utilities {
          	        .content-auto {
          		        content-visibility: auto;
          	        }
                }
    		</style>
    </head>
    <body class="bg-gradient-to-r from-cyan-100 to-purple-200">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
              <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class= "h-screen flex items-center justify-center">
          <div class="rounded-md box border h-50 w-50 p-4 bg-indigo-200 border-20">
            <form action="/auth_registration" method="POST">
              <div class="flex flex-col space-y-2">
                <label for="username">Username:</label>
                <input class="h-10 rounded-md" type="text" name="username" required>
                <label for="password">Password:</label>
                <input class="h-10 rounded-md" type="password" name="password" required>
                <br><button class="m-2 box-border p-2 border-3 bg-slate-100 rounded-xl hover:bg-fuchsia-300" type="submit">Register</button>
                <br><h2> Already registered? Log in here -></h2>
                <a href="/login">Pop</a>
              </div>
            </form>
          </div>
        </div>
    </body>
</html>
