<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
		<style type="text/tailwindcss">
            @layer utilities {
      	        .content-auto {
      		        content-visibility: auto;
      	        }
            }
		</style>
    </head>
    <body>
        <div class="bg-slate-300 flex items-center justify-center">
            <form action="/login" method="POST">
                <label for="username">Username:</label><br>
                <input type="text" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" required><br>
                <button class="dark:md:hover:bg-fuchsia-600" type="submit">Login</button>
            </form>
        </div>
    </body>
</html>